/*

@page {

    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    white-space: pre;
    color: grey;
  
    @top-right {
      font-size: 7pt;
      content: "";
    }

    @bottom-center {
      font-size: 8pt;
      content: '- 'counter(page)'/'counter(pages)' -';
    }
  
    @bottom-right {
      font-size: 6pt;
      content: "";
    }

}
  
@media print {
    body {
      background: none;
      background-color: #fff;
    }
}

@page back_cover {

    background-color: #eee;
  
    @top-right {
      content: normal;
    }
  
    @bottom-center {
      content: normal;
    }
  
    @bottom-left {
      content: normal;
    }
  
    @bottom-right {
      content: normal;
    }

}

/*

/*
#
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
# ADJUST VERTICAL SPACING ON LISTS
# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#
*/

/*
@media print {

  .md-typeset ol li, .md-typeset ul li {
    margin-bottom: 0em;
  }

}

/*

/*
.md-content__inner {
    margin-bottom: 0mm;
}
*/

@import "cover.scss";

@import "paging.scss";
@import "heading.scss";

@import "toc.scss";

@import "fonts.scss";
